# =========================
# Variáveis de ambiente
# =========================
.env
.env.*
!.env.example

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Banco de dados local
# =========================
*.db
*.sqlite
*.sqlite3
*.h2.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE / VS Code
# =========================
.vscode/
.idea/
*.iml

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Java / Spring
# =========================
*.jar

.env
.env.*
!.env.example